{% extends "Layout.html" %}

{% block content %}


    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    <li class="list-inline-item">LOV</li>
                                </ul>
                            </div>
                            <button class="au-btn au-btn-icon au-btn--green">
                                <i class="zmdi zmdi-plus"></i>add item</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->

    <!-- <center style="padding-top: 100px; padding-left: 100px; padding-bottom: 100px;">
        <div class="container-fluid">
            <form action="" class="form-inline" method="POST">
                <input type="text" class="form-control" placeholder="Enter File Name" name="file_name" value="{{request.form.file_name}}">
                <br>
                <input type="text" class="form-control" placeholder="Enter Column Names" name="col_names" value="{{request.form.col_names}}">
                <br>
                <input type="submit" class="btn btn-success" type="submit" value="Submit">
            </form>
        </div>
    </center> -->

    <!-- MAIN CONTENT-->
    <div class="main-content" style="padding-top: 30px;">
        <div class="section__content section__content--p30">
                <form action="/submit_LOV" method="post">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">Source file</div>
                            <div class="card-body">
                               <!-- <form action="/submit_LOV" method="post"> -->
                                    <div class="form-group">
                                        <label for="cc-payment" class="control-label mb-1">Choose Table/ Dataset</label>
                                        <!-- <input id="cc-pament" name="cc-payment" type="text" class="form-control" aria-required="true" aria-invalid="false"> -->
                                        <select name='source_table_name' class="form-control">
                                            <option>Table 1</option>
                                            <option>Table 2</option>
                                            <option>Table 3</option>
                                            <option>Table 4</option>
                                        </select>

                                    </div>
                                    <div class="form-group has-success">
                                        <label for="cc-name" class="control-label mb-1">Column Input mode</label>
                                        <!-- <input id="cc-name" name="cc-name" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card"
                                            autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span> -->
                                        <select name='source_table_ip_mode' class="form-control">
                                            <option>Name</option>
                                            <option>Index</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cc-number" class="control-label mb-1">Column to be QCed</label>
                                        <input id="cc-number" name="source_table_Col_to_qc" type="tel" class="form-control cc-number identified visa">
                                    </div>
                                    <!-- <div>
                                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                            <span id="payment-button-amount">Proceed</span>
                                        </button>
                                    </div> -->
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Reference File</strong>
                                <small> File or User Input</small>
                            </div>
                            <div class="card-body card-block">
                                <!-- <form action="" method="post"> -->
                                    <div class="form-group">
                                        <label for="cc-payment" class="control-label mb-1">Choose Table/ Dataset</label>
                                        <!-- <input id="cc-pament" name="cc-payment" type="text" class="form-control" aria-required="true" aria-invalid="false"> -->
                                        <select name='ref_table_name' class="form-control">
                                            <option>Table 1</option>
                                            <option>Table 2</option>
                                            <option>Table 3</option>
                                            <option>Table 4</option>
                                        </select>

                                    </div>
                                    <div class="form-group has-success">
                                        <label for="cc-name" class="control-label mb-1">Column Input mode</label>
                                        <select name='ref_table_ip_mode' class="form-control">
                                            <option>Name</option>
                                            <option>Index</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="cc-number" class="control-label mb-1">Column to be QCed</label>
                                        <input id="cc-number" name="ref_table_Col_to_qc" type="tel" class="form-control cc-number identified visa">
                                    </div>
                                <!-- </form> -->
                            
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                                <div class="card-header">
                                    <strong>Other required fields</strong>
                                </div>
                                <div class="card-body card-block">
                                    <!-- <form action="" method="post"> -->
                                        
                                        <div class="form-group has-success">
                                            <label for="cc-name" class="control-label mb-1">Case Sensitive</label>
                                            <select name='case_sensitivity' class="form-control">
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                        </div>
                                        <div >
                                            <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" >
                                                <span id="payment-button-amount">Proceed</span>
                                            </button>
                                        </div>
   
                                </div>
                                </div>
                            </div>
                </div> <!--row-->
            </div> <!--   contaciner fluid-->
        </form> 
        </div>


        <!--show the table-->
        <div class="row">
                <div class="col-lg-10 offset-lg-1" style="background-color: cornsilk; height: 50px; margin-bottom: 10px; align-content: center; font-size: 22px;">
                   <b > Check Configuration table</b>
                </div>
        </div>
        <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th style="font-size: 12px;">Source File Table Name1</th>
                                    <th style="font-size: 12px;">Source File Column Input Mode</th>
                                    <th style="font-size: 12px;">Source File Column to be Qced</th>
                                    <th style="font-size: 12px;">Reference File Table Name</th>
                                    <th style="font-size: 12px;">Reference File Column Input Mode</th>
                                    <th style="font-size: 12px;">Reference File Column to be Qced</th>
                                    <th style="font-size: 12px;">Case Sensitive</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2018-09-29 05:57</td>
                                    <td>100398</td>
                                    <td>iPhone X 64Gb Grey</td>
                                    <td class="text-right">$999.00</td>
                                    <td class="text-right">1</td>
                                    <td class="text-right">$999.00</td>
                                    <td class="text-right">Yes</td>
                                </tr>
                                <tr>
                                    <td>2018-09-28 01:22</td>
                                    <td>100397</td>
                                    <td>Samsung S8 Black</td>
                                    <td class="text-right">$756.00</td>
                                    <td class="text-right">1</td>
                                    <td class="text-right">$756.00</td>
                                    <td class="text-right">No</td>
                                </tr>
                                <tr>
                                    <td>2018-09-27 02:12</td>
                                    <td>100396</td>
                                    <td>Game Console Controller</td>
                                    <td class="text-right">$22.00</td>
                                    <td class="text-right">2</td>
                                    <td class="text-right">$44.00</td>
                                    <td class="text-right">Yes</td>
                                </tr>
                                <tr>
                                    <td>2018-09-26 23:06</td>
                                    <td>100395</td>
                                    <td>iPhone X 256Gb Black</td>
                                    <td class="text-right">$1199.00</td>
                                    <td class="text-right">1</td>
                                    <td class="text-right">$1199.00</td>
                                    <td class="text-right">Yes</td>
                                </tr>
                                <tr>
                                    <td>2018-09-25 19:03</td>
                                    <td>100393</td>
                                    <td>USB 3.0 Cable</td>
                                    <td class="text-right">$10.00</td>
                                    <td class="text-right">3</td>
                                    <td class="text-right">$30.00</td>
                                    <td class="text-right">Yes</td>
                                </tr>
                                <tr>
                                    <td>2018-09-29 05:57</td>
                                    <td>100392</td>
                                    <td>Smartwatch 4.0 LTE Wifi</td>
                                    <td class="text-right">$199.00</td>
                                    <td class="text-right">6</td>
                                    <td class="text-right">$1494.00</td>
                                    <td class="text-right">Yes</td>
                                </tr>
                                <tr>
                                    <td>2018-09-24 19:10</td>
                                    <td>100391</td>
                                    <td>Camera C430W 4k</td>
                                    <td class="text-right">$699.00</td>
                                    <td class="text-right">1</td>
                                    <td class="text-right">$699.00</td>
                                    <td class="text-right">Yes</td>
                                </tr>
                                <tr>
                                    <td>2018-09-22 00:43</td>
                                    <td>100393</td>
                                    <td>USB 3.0 Cable</td>
                                    <td class="text-right">$10.00</td>
                                    <td class="text-right">3</td>
                                    <td class="text-right">$30.00</td>
                                    <td class="text-right">Yes</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        <!--TABLE ends-->

    </div>
   <!-- MAIN CONTENT ends-->


        

{% endblock %}
 